# Import packages

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Data Load
#### 아파트 실거래가 (출처 : 국토교통부)
#### 계약일 기준 / 전용면적 / 금액 만원 단위
#### 40이하(극소형) / 40~60(소형) / 60~85(중소형) / 85~102(중형) / 102~135(중대형) / 135(대형)

In [3]:
apt_1810 = pd.read_csv('Apt sales real price_1810.csv', encoding='CP949')
apt_1811 = pd.read_csv('Apt sales real price_1811.csv', encoding='CP949')
apt_1812 = pd.read_csv('Apt sales real price_1812.csv', encoding='CP949')

In [35]:
apt = pd.concat([apt_1810, apt_1811, apt_1812])

In [36]:
apt[['region_1', 'region_2', 'region_3']] = apt['si_gun_gu'].str.split(" ", n=2, expand=True)

In [83]:
def func1(x):
    if 0 < x <= 40:
        return '극소형'
    elif 40 < x <= 60:
        return '소형'
    elif 60 < x <= 85:
        return '중소형'
    elif 85 < x <= 102:
        return '중형'
    elif 102 < x <= 135:
        return '중대형'
    return '대형'

apt['area_cate'] = apt['dedicated_area'].apply(func1)

In [103]:
apt['cost_of_unit'] = apt['amt_10000'] / (apt['dedicated_area'] / 3.3)

# 현황

## 1. 시도별 아파트 매매 현황 (신고된 계약일자 기준)

In [52]:
pd.pivot_table(apt, index='region_1', columns='contract_yymm', values='amt_10000', aggfunc='count')

contract_yymm  201810  201811  201812
region_1
강원도              1184     857     771
경기도             13549    8171    5808
경상남도             2656    2298    1548
경상북도             1833    1387    1220
광주광역시            2511    1708    1251
대구광역시            2986    2197    1290
대전광역시            2621    1768    1284
부산광역시            2325    1835    1353
서울특별시            3269    1776    1121
세종특별자치시           255     245     311
울산광역시             794     703     523
인천광역시            3349    2016    1535
전라남도             1632    1754    1143
전라북도             1562    1240    1061
제주특별자치도           262     235     221
충청남도             1918    1580    1110
충청북도             1379     992     828

## 2. 특정 시군구 아파트 매매 현황

In [80]:
region_1_nm = "경기도"
region_2_nm = "성남중원구"
region_3_nm = ""
ex1 = apt[(apt["region_1"] == region_1_nm) & (apt["region_2"] == region_2_nm)]

### 2.1 읍면동별 아파트 매매 현황

In [59]:
pd.pivot_table(ex1, index='region_3', columns='contract_yymm', values='amt_10000', aggfunc='count')

contract_yymm  201810  201811  201812
region_3
금광동              19.0    10.0     2.0
도촌동               6.0     2.0     1.0
상대원동             20.0    20.0     9.0
성남동               9.0     9.0     3.0
여수동               1.0     NaN     NaN
은행동              17.0    13.0     6.0
중앙동              11.0     4.0     2.0
하대원동             14.0    10.0     7.0

### 2.2 아파트매매 건수 상위10개 단지 현황

In [101]:
fig_1 = pd.pivot_table(ex1,index='apt_name',columns='contract_yymm',values='amt_10000',aggfunc='count',margins=True).reset_index()
fig_1 = fig_1.sort_values(['All'], ascending=[False]).head(n=10).iloc[1:,:]
fig_1

contract_yymm      apt_name  201810  201811  201812  All
19                     선경2차     8.0     7.0     3.0   18
30                     은행주공     9.0     6.0     3.0   18
42             황송마을(삼익금광2차)    11.0     6.0     NaN   17
39                       현대     7.0     6.0     1.0   14
28                      아튼빌     4.0     7.0     3.0   14
23                       성지     3.0     4.0     4.0   11
9                      롯데캐슬     5.0     2.0     2.0    9
29               은빛마을(두산위브)     3.0     3.0     1.0    7
7                     래미안금광     5.0     2.0     NaN    7